html,
body {
  padding: 0;
  margin: 0;
  font-family: 'red-hat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #1b1657;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}


@font-face {
  font-family: 'tex_gyre_adventor';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/tex-gyre/texgyreadventor-bold-webfont.eot');
  src: url('/fonts/tex-gyre/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/tex-gyre/texgyreadventor-bold-webfont.woff2') format('woff2'),
       url('/fonts/tex-gyre/texgyreadventor-bold-webfont.woff') format('woff'),
       url('/fonts/tex-gyre/texgyreadventor-bold-webfont.ttf') format('truetype'),
       url('/fonts/tex-gyre/texgyreadventor-bold-webfont.svg#tex_gyre_adventorbold') format('svg');
}

@font-face {
  font-family: 'tex_gyre_adventor';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
    src: url('/fonts/tex-gyre/texgyreadventor-bold-webfont.eot');
    src: url('/fonts/tex-gyre/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/tex-gyre/texgyreadventor-bold-webfont.woff2') format('woff2'),
         url('/fonts/tex-gyre/texgyreadventor-bold-webfont.woff') format('woff'),
         url('/fonts/tex-gyre/texgyreadventor-bold-webfont.ttf') format('truetype'),
         url('/fonts/tex-gyre/texgyreadventor-bold-webfont.svg#tex_gyre_adventorbold') format('svg');
}

@font-face {
  font-family: 'red-hat';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/red-hat-text-v3-latin/red-hat-text-v3-latin-regular.eot');
  src: url('/fonts/red-hat-text-v3-latin/red-hat-text-v3-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/red-hat-text-v3-latin/red-hat-text-v3-latin-regular.woff2') format('woff2'),
       url('/fonts/red-hat-text-v3-latin/red-hat-text-v3-latin-regular.woff') format('woff'),
       url('/fonts/red-hat-text-v3-latin/red-hat-text-v3-latin-regular.ttf') format('truetype'),
       url('/fonts/red-hat-text-v3-latin/red-hat-text-v3-latin-regular.svg#tex_gyre_adventorbold') format('svg');
}